DATABASE_URL=postgresql://neondb_owner:npg_uzrBj3tY5LAH@ep-floral-darkness-a1eb57fe-pooler.ap-southeast-1.aws.neon.tech/Movie-Magic?sslmode=require&channel_binding=require
BCRYPT_ROUNDS=10
EMAIL_USER=moviemagic1911@gmail.com
EMAIL_PASS=mayd mknf kpsq ohca